<div class="card">
    <div class="card-header">
        {{ title }}
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Monto</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>
                        {{ item.description }}
                    </td>
                    <td>
                        {{ item.amount | currency }}
                    </td>
                    <td
                        [ngClass]=" {'text-success': item.status === discharged, 'text-danger' : item.status !== discharged }">
                        {{ item.status }}
                    </td>
                    <td>
                        <button *ngIf='item.status !== discharged' (click)="makeMovement(item)"
                            class="mr-1 btn btn-info">
                            <i class="fa fa-donate"></i>
                        </button>
                        <button (click)="deleteItem(item)" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>{{ total | currency }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>