<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Agregar Haber / Deber
            </div>
            <div class="card-body">
                <p class="card-description">Especifique el monto y el tipo</p>
                <form (ngSubmit)="saveItem()">
                    <div class="row">
                        <div class="form-group col-6">
                            <label>Descripción</label>
                            <input type="text" [(ngModel)]="item.description" class="form-control"
                                placeholder="Descripción" name="descripcion" />
                        </div>
                        <div class="form-group col-6">
                            <label>Monto</label>
                            <input type="number" [(ngModel)]="item.amount" class="form-control" placeholder="Monto"
                                name="amount" />
                            <p>Debe de ser un monto positivo</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Tipo</label>
                        <button (click)="item.type='deber'" *ngIf="item.type === 'haber'" type="button"
                            class="btn btn-primary btn-block">Haber</button>
                        <button (click)="item.type='haber'" *ngIf="item.type === 'deber'" type="button"
                            class="btn btn-warning btn-block">Deber</button>
                    </div>
                    <hr />
                    <button *ngIf="!loading" [disabled]="invalid" type="submit" class="btn btn-success mr-2">
                        <i class="fa fa-save"></i>
                        Agregar
                    </button>

                    <button *ngIf="loading" disabled class="btn btn-success mr-2">
                        <i class="fa fa-spin fa-sync"></i>
                        Espere por favor...
                    </button>

                    <button type="reset" class="btn btn-light">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>